.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Set the height of the logo images */
.App-logo,
.App-logoangular,
.App-logogit,
.App-logotype,
.App-logospring,
.App-logojavascript,
.App-logohtml,
.App-logocss,
.App-logosql,
.App-logopostgres,
.App-logojasper,
.App-logodocker {
  padding-left: 10px;
  height: 10vmin;
  pointer-events: none;
}

/* Set the height of the row-header */
#row-header {
  background-color:rgb(242, 244, 246);
  height: 60px;
  display: flex;
  align-items: center; /* align items vertically */
  justify-content: space-between;
  padding-right: 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

a.App-link {
  text-decoration: none;
  color: #2d2828;
  transition: color 0.3s ease;
}

.App-link:hover {
  color: #0366d6;
}


/* Set the background color and height of the col-header */
#col-header {
  background-color: blue;
  height: 100px
}

/* Set the height and position of the logo */
.App-logocar {
  height: 50px;
  margin-right: 10px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  /* Spin the logo image */
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Style the header */
.App-header {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.App-footer {
  margin-top: auto;
  padding-bottom: 20px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.Footer-link {
  text-decoration: none;
  color: #000000;
}

.Footer-link:hover {
  color: #8a60d3;
  transition: color 0.3s ease;
}

/* Style the link */
.App-link {
  color: #000000;
}

/* Spin the logo image */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Set the width of the columns for screens larger than 992px */
@media (min-width: 992px) {
  .gy-1 > div {
    width: 16.6666667%;
  }
}

/* Set the width of the columns for screens between 768px and 992px */
@media (min-width: 768px) and (max-width: 991.98px) {
  .gy-1 > div {
    width: 25%;
  }
}

/* Set the width of the columns for screens smaller than 768px */
@media (max-width: 767.98px) {
  .gy-1 > div {
    width: 50%;
  }
}
